<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rondon</title>
  <link href="/_css/main.min.css" rel="stylesheet">
  <link href="/_css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.lordicon.com/lordicon.js"></script>

</head>
<body>
  <!-- main image & intro text -->
    <nav class="navbar bg-white navbar-expand-lg pt-1" id="linha">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="./_img/logoaliane.png" alt="logo_rpa" width="300px" img style="padding: 10px;"></a>     
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row collapse navbar-collapse justify-content-end align-center" id="main-nav">
          <div class="d-flex flex-row-reverse">
            <div class="p-2 pe-5 mt-1"><a class="nav-link text-danger" href="./_img/termos de uso.txt"><img src="./_img/insta.png" alt="" id="logo" style="height: 20px;"></a></div>
            <div class="p-2"><a class="nav-link text-danger" href="./_img/termos de uso.txt">contato@email.com.br</a></div>
            <div class="p-2"><a class="nav-link text-danger" href="./_img/termos de uso.txt"><img src="./_img/whatsapp.png" alt="" id="logo" style="height: 23px"> +123-456-7890</a></div>
          </div>
          <div class="row text-end px-5" id="linha2">
          </div>
          <div class="d-flex flex-row-reverse">
            <ul class="navbar-nav px-3 mt-2">
              <li class="nav-item px-4">
                <a class="nav-link text-danger" href="#intro"><strong>HOME</strong></a>
              </li>
              <li class="nav-item px-4">
                <a class="nav-link text-danger" href="#reviews"><strong>PSICOTERAPIA</strong></a>
              </li>
              <li class="nav-item px-4">
                <a class="nav-link text-danger" href="#topics"><strong>SOBRE</strong></a>
              </li>
              <li class="nav-item px-4">
                <a class="nav-link text-danger" href="#pricing"><strong>FAQ</strong></a>
              </li>
              <li class="nav-item px-4">
                <a href="#reviews">
                <button type="button" class="btn text-white mt-1 fw-semibold" style="background-color:#7a1931;" >AGENDAR</button>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </nav>  
    <section style="background-color: #fcf5eb;">
      <div class="" >
        <div class="row align-items-start">
          <div class="col-md-6 pb-5">
            <h1 class="text-primary mt-5 PrimeiraFonte fw-bold">Aliane Matos<br>
              Psicóloga <br>
              CRP - 11/13900</h1>
            <p class="text-primary pb-5"><br>Especialista em psicologia da saúde</p>
            <div class="pb-5 dynamic-padding">
              <button class="button-57" role="button">Saiba Mais</button>
            </div>
          </div>
          <div class="col-md-6 text-center" style="background-color: #efa593;">
            <img src="./_img/foto psicologa.png" alt="foto" width="371px">
          </div>
        </div>
      </div>
    </section>
    <section style="background-color: #fcf5eb;">    
      <div class="" >
        <div class="row align-items-start">
          <div class="col-md-6 pb-5" >
            <h1 class="text-primary mt-5 abril-fatface-regular">Psicoterapia</h1>
            <img src="./_img/psicologist.png" alt="foto" width="371px">
          </div>
          <div class="col-md-6 text-center">
            <p class="text-primary pt-5 px-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, debitis consequatur. Laudantium minus itaque natus saepe laboriosam, sunt provident officia nam accusamus, soluta iusto dolore! Saepe id amet harum reprehenderit.</p>
          </div>
        </div>
      </div>
    </section>
    <section style="background-color:#9f3c48">    
      <div class="" >
        <div class="row align-items-start"    >
          <div class="col-md-6 py-5" >
            <img src="./_img/psicologa.png" alt="foto" width="371px">
          </div>
          <div class="col-md-6 text-center">
            <h1 class="text-white mt-5 abril-fatface-regular">Sobre mim</h1>
            <p class="text-white pt-5 px-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, debitis consequatur. Laudantium minus itaque natus saepe laboriosam, sunt provident officia nam accusamus, soluta iusto dolore! Saepe id amet harum reprehenderit.</p>
          </div>
        </div>
      </div>
    </section>

  <section id="intro" class="pt-5 pb-5" style="background-color: #efa593;    padding-right: 20vh;"> 
    <h1 class="text-white mt-3 abril-fatface-regular">Depoimentos</h1>
    <div class="container" style="background-color: white;">
      <div class="row pt-5">
        <div class="col">
          
          <p class="text-primary mt-3">Entendemos que cada negócio é único. É por isso que oferecemos soluções personalizadas para atender exatamente às suas necessidades.</p>
          <a href="#reviews">
          <button class="button-branco mt-2" role="button">Contate hoje<img src="./_img/seta-direita.png" style="width: 30px; margin-left: 5px;"></button>
          </a>
        </div>
        <div class="col text-center pt-2">
          <img src="./_img/notebook1.png" alt="notebook1" width="300px">
        </div>
      </div>
    </div>
  </section>
  <section style="background-color:#9f3c48">    
    <div class="" >
      <div class="row align-items-start">
        <div class="text-center">
          <h1 class="text-white mt-5 abril-fatface-regular">Atendimento online</h1>
          <p class="text-white px-5 pb-5">As sessões são previamente agendadas de acordo com a disponibilidade do paciente e da
            psicóloga. O paciente recebe um link para a reunião ou realiza a sessão diretamente em
            uma ferramenta de videoconferência segura, como Zoom, Google Meet, ou outras
            plataformas certificadas que garantem a privacidade do paciente e o sigilo das
            informações compartilhadas.</p>
        </div>
      </div>
    </div>
  </section>

  <section style="background-color: #fcf5eb;">    
    <div class="pb-5 pt-3" >
      <div class="row align-items-start">
        <div class="col-md-6 pb-5" >
          <h1 class="text-primary mt-5 abril-fatface-regular">Dúvidas frequentes</h1>
        </div>
        <div class="col-md-6 text-center pe-5">
          <!-- accordion -->
          <div class="accordion pt-3" id="chapters">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-1" aria-expanded="true" aria-controls="chapter-1">
                  Agendamento
                </button>
              </h2>
              <div id="chapter-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#chapters">
                <div class="accordion-body">
                  <p>Clientes podem agendar serviços ou compromissos a qualquer hora, sem precisar esperar por um atendente.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-2" aria-expanded="false" aria-controls="chapter-2">
                  Orçamentos
                </button>
              </h2>
              <div id="chapter-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#chapters">
                <div class="accordion-body">
                  <p>Agilize o processo de criação e envio, reduza erros, melhore a precisão dos cálculos e faça um acompanhamento mais eficiente das propostas.</p>
                  </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-3" aria-expanded="false" aria-controls="chapter-1">
                  Pedidos
                </button>
              </h2>
              <div id="chapter-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#chapters">
                <div class="accordion-body">
                  <P>Otimize o processamento, reduza erros, acelere o atendimento e garanta um fluxo eficiente desde a solicitação até a entrega.</P>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-4" aria-expanded="false" aria-controls="chapter-4">
                  Muito mais
                </button>
              </h2>
              <div id="chapter-4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#chapters">
                <div class="accordion-body">
                  <p>A automação proporciona eficiência, precisão e escalabilidade, otimizando processos diversos.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section style="background-color:#9f3c48">    
    <div class="pt-5" >
      <h1 class="text-white abril-fatface-regular">Agende sua consulta agora</h1>
      <div class="row align-items-start"    >
        <div class="col-md-6 py-5" >
          <div id="googleMap" style="width:88%;height:400px;"></div>
        </div>
        <div class="col-md-6 text-center">
          <P class="text-white">WhatsApp</P>
          <a href="#reviews">
            <button class="button-branco" role="button">(123) 456-7890<img src="./_img/seta-direita.png" style="width: 30px; margin-left: 5px;"></button>
          </a>
          <P class="text-white">E-mail</P>
          <a href="#reviews">
            <button class="button-branco" role="button">hello@reallygreatsite.com</button>
          </a>
          <P class="text-white">Social</P>
          <a href="#reviews">
            <button class="button-branco" role="button"><img src="./_img/seta-direita.png" style="width: 30px; margin-left: 5px;"></button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section style="background-color:rgb(150, 147, 147)">    
    <div class="" >
      <div class="row align-items-start">
        <div class="text-center">
          <p class="pt-2 fw-semibold">© 2024 GeraSites - Web Design. Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
  </section>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script>
    const tooltips = document.querySelectorAll('.tt')
    tooltips.forEach(t => {
      new bootstrap.Tooltip(t)
    })
  </script>

  <script>
  function myMap() {
  var mapProp= {
    center:new google.maps.LatLng(-3.7285350697548116, -38.51842304488477),
    zoom:17, 
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
  }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASQKFr0JcOM5Sz0rcD88a9BNPz0wlHLyw&callback=myMap"></script>
</body>
</html>